<button @onclick="IncreaseCount">Click to count</button>
<p>@Count</p>
<Simple1 Header="head" AttrValue="attr"></Simple1>

@code {
    public int Count { get; private set; } = 0;
    void IncreaseCount() => Count++;
}
